/* 

███████╗██╗     ██╗     ██╗ █████╗ ██╗  ██╗     ██████╗
██╔════╝██║     ██║     ██║██╔══██╗██║  ██║    ██╔════╝
█████╗  ██║     ██║     ██║███████║███████║    ██║     
██╔══╝  ██║     ██║██   ██║██╔══██║██╔══██║    ██║     
███████╗███████╗██║╚█████╔╝██║  ██║██║  ██║    ╚██████╗
╚══════╝╚══════╝╚═╝ ╚════╝ ╚═╝  ╚═╝╚═╝  ╚═╝     ╚═════╝
_______________________________________________________
=======================================================

*/

/* Global Variables */
:root {
    /* Misc Variables */
    --bg-h: 2px;
    
    /* Background Colors */
    --background-color-1: #0f151c;
    --background-color-2: #111418;
    --fill-color-1: #161b22;
    --fill-color-1-op: #161b22e1;
    --fill-color-2: #21262d;
    --fill-color-3: #292d34;
    --fill-color-3-op: #292d34af;

    /* Gradients */
    /* --gradient-1: linear-gradient(var(--background-color-1), var(--background-color-2)); */
    --gradient-1: linear-gradient(to right, var(--border-color-3), var(--text-color-1)) no-repeat left bottom / 0 var(--bg-h);
    --gradient-2: linear-gradient(135deg, #f26430, #8f3aa0, #6761a8);
    --gradient-3: linear-gradient(to right, #ff4c0b, #bc32d8, #6e62e9);

    /* Border Colors */
    --border-color-1: #21262d;
    --border-color-2: #292d34;
    --border-color-3: #ffffff1e;

    /* Text Colors */
    --text-color-1: #dae0e6;
    --text-color-2: #7d8590;
    --text-color-3: #d1d3d6;
    --text-glow: #ffffff1f;

    /* Animation Timers */
    --animation-delay: 355ms;
}

*::selection {
    background-color: white;
    color: #141e22;
}
#skills *::selection {
    background-color: #009ddc;
}
#education *::selection {
    background-color: #f26430;
}
#projects *::selection {
    background-color: #6761a8;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    background-attachment: fixed;
}

html {
    scroll-behavior: smooth;
    color: var(--text-color-1);
    background: var(--background-color-2);
}

body {
    background-image: var(--gradient-2);
    background-size: cover;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
}
@media (max-width: 1020px) {
    body {
        padding: 0px 15px;
    }
}

.container {
    margin: 0 auto;
    max-width: 1278px;
    z-index: 1;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

/* Text */
h1, h2, h3, p, a {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 600;
}

h3 {
    font-weight: 500;
}

p {
    font-weight: 400;
}

/* Nav Bar */

.gradientBorder {
    background-color: var(--text-color-2);
    background-image: var(--gradient-3);
    height: 2px;
    margin: 0 0 30px;
}
.gradientBorder.bottom {
    margin: 0;
    position: absolute;
    width: 100%;
    top: 80px;
    transition: 355ms ease-in-out;
}

nav {
    margin: 15px 0px;
    padding: 0 0 0;
    background-color: var(--fill-color-1);
    background-color: var(--fill-color-1-op);
    border-bottom: 2px solid var(--border-color-1);
    border-top: 0;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    min-width: 340px;
}
@media (min-width: 1020px) {
    nav {
        position: fixed;
        width: 33%;
        max-width: 480px;
        border-radius: 0em;
    }
}

nav h1 {
    font-size: 39px;
    margin: 0px 0;
}

/* top section of navbar */
.topNav {
    border-bottom: 2px solid var(--border-color-3);
    margin: 0px 0px;
    padding: 0px 20px;
    text-align: center;
}

.avatar {
    display: block;
    margin: 0px auto 10px auto;
    border-radius: 5em;
    width: 100px;
    transition: var(--animation-delay) cubic-bezier(0.175, 0.885, 0.32, 1.75);
}
.avatar:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 0px 2px var(--border-color-3);
}
.avatar:active {
    transition: 355ms cubic-bezier(0.175, 0.885, 0.32, 1.2);
    transform: scale(1);
}

/* middle section of navbar */
.midNav {
    display: block;
    margin: 0px 0px 0px 50px;
    padding: 5px 0px;
    border-left: 6px double var(--border-color-3);
}

.midNav a {
    font-size: 25px;
    color: var(--text-color-2);
    text-decoration: none;
    background: var(--gradient-1);
    transition: var(--animation-delay);
    padding-bottom: 2px;
  }
.midNav a:hover {
    color: var(--text-color-1);
}
.midNav a:where(:hover, :focus-visible) {
    color: var(--text-color-1);
    background-size: 100% var(--bg-h);
    background-position-x: left;
}

/* bottom section of navbar */
.botNav {
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid var(--border-color-3);
}
.botNav a {
    display: inline-block;
    padding: 0px 8px;
    color: var(--text-color-2);
    transition: var(--animation-delay);
}
.botNav i {
    margin-right: 0px;
}

.linkNameHidden {
    display: none;
}

/* Sticky Nav */
.sticky {
    margin: 0;
    display: none;
    background-color: var(--fill-color-1);
    background-color: var(--fill-color-1-op);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border-radius: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    border: 0;
    box-shadow: 0 0 30px black;
    z-index: 1;
    transition: 355ms ease-in-out;
}
@media (min-width: 1020px){
    .sticky {
        display: none;
    }
}
.sticky img {
    height: 52px;
    background-color: var(--fill-color-3);
    border-radius: 13px;
}
.imgBackground {
    margin: 12px 0 0 15px;
    padding: 2px;
    height: 52px;
    border-radius: 15px;
    background-image: var(--gradient-3);
    transition: 355ms ease-in-out;
}
.imgBackground:hover {
    transform: scale(105%);
    cursor: pointer;
}
.flexContainer h1 {
    margin: 26px 0 0 20px;
    font-size: 16pt;
}
#mobileNav li {
    font-size: 16pt;
    float: left;
    margin: 9px 35px -7px 0;
}
#mobileNav i {
    font-size: 15pt;
    margin: 0 6px 4px 0;
}
#mobileNav a {
    text-decoration: none;
    color: var(--text-color-1);
}
#mobileNav a:hover #blue {
    color: #009ddc;
}
#mobileNav a:hover #orange {
    color: #f26430;
}
#mobileNav a:hover #purple {
    color: #6761a8;
}
#mobileNav i:hover {
    transform: none;
    text-shadow: none;
}
#mobileNav .outLink {
    margin: 0 -10px;
    font-size: 24pt;
}

#menuOpen {
    display: none;
    padding: 0 40px 0 40px;
    animation: fade-in 200ms 355ms both;
}

#mobileNav .blockList {
    display: none;
}
#mobileNav .blockList li {
    display: block;
    float: none;
}

#mobileNav .inlineList {
    display: none;
}
#mobileNav .inlineList li i {
    display: block;
    float: left;
    font-size: 30pt;
}

#menuOpen hr {
    display: none;
}

#hamburger {
    cursor: pointer;
    width: 29px;
    display: none;
}

@media (max-width: 700px) {
    #outLinkList {
        display: none;
    }

    #mobileNav .inlineList {
        display: block;
        height: 54px;
        list-style-type: none;
        padding: 0 0 0 30px;
    }
    
    #mobileNav .fa-bars, #mobileNav .fa-x {
        display: inline;
        margin: 25px 20px 0 0;
        font-size: 25pt;
    }
}
@media (max-width: 575px) {
    #inLinkList {
        display: none;
    }

    #mobileNav .blockList {
        display: block;
        list-style-type: none;
        padding: 0 0 0 24px;
    }
    #menuOpen hr {
        display: block;
    }
}

.mobileLinks::before { 
    display: block; 
    content: " "; 
    margin-top: -80px; 
    height: 80px; 
    visibility: hidden; 
    pointer-events: none;
}

/* Span */

.highlight {
    background-color: var(--fill-color-3);
    background-color: var(--fill-color-3-op);
    border: 2px solid var(--border-color-3);
    padding: 2px 2%;
    border-radius: 2em;
}
#blue-h {
    background-color: #2965f1;
    border-color: #264de4;
}
#usf-h {
    background-color: #006747;
    border-color: #CFC493;
    padding: 0px 5px;
}
#hcc-h {
    background-color: #001e60;
    border-color: #06357a;
}
#skills-h {
    border-color: #009ddc;
}
#education-h {
    border-color: #f26430;
}
#projects-h {
    border-color: #6761a8;
}

.date {
    color: #7d8590;
}

/* Main */

main {
    margin: 20px 0px;
    border-radius: 1em;
    min-width: 340px;
}
@media (min-width: 1020px){
    main {
        margin: 0px 0px 0px 40%;
        border-radius: 0em;
        border: none;
    }
}

section {
    padding: 0px 12px 15px 12px;
    margin: 15px 0;
    background-color: var(--fill-color-1);
    background-color: var(--fill-color-1-op);
    border-top: 2px solid var(--border-color-2);
    border-bottom: 2px solid var(--border-color-2);
}
@media (max-width: 1019px) {
    section {
        border-radius: 0 0 1em 1em;
    }
}
#skills {
    border-top-color: #009ddc;
}
#education {
    border-top-color: #f26430;
}
#projects {
    border-top-color: #6761a8;
}

/* text */

p {
    margin-left: 0px;
    color: var(--text-color-3);
}

/* horizontal rule */

hr {
    background-color: var(--border-color-3);
    height: 2px;
    border: none;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 12px;
    background-color: var(--background-color-1);
}

::-webkit-scrollbar-thumb {
    border: none;
    background-color: var(--fill-color-3);
}

/* Icons */

i {
    font-size: 50px;
    vertical-align: middle;
    transition: var(--animation-delay);
    margin-right: 20px;
}
i:hover {
    color: var(--text-color-1);
    /* text-shadow: 0px 0px 10px var(--text-glow); */
    transform: scale(105%);
}
#heading-i {
    font-size: 25px;
    margin-right: 10px;
    color: #7d8590;
    vertical-align: baseline;
    transform: none;
    text-shadow: none;
}
#html {
    color: #e5532d;
}
#css {
    color: #264de4;
}
#sass {
    color: #cf649a;
}
#js {
    color: #f0db4f;
}
#java {
    margin-left: 10px;
    color: #f89820;
}
#python {
    color: #306998;
}
#git {
    color: #e24329;
}

svg {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    transition: var(--animation-delay);
    margin: 0px 0px;
}
svg:hover {
    color: var(--text-color-1);
    text-shadow: 0px 0px 10px var(--text-glow);
    transform: scale(105%);
}
#adobe {
    margin: 0px 15px 0 0;
}


/* Project Link styling */

.proj-link {
    text-decoration: none;
    color: var(--text-color-1);
    transition: var(--animation-delay);
}
.proj-link:hover {
    color: var(--text-color-2);
}
.proj-link:hover i {
    color: #948de0;
}
.proj-link i {
    vertical-align: middle;
    margin: 0 5px 5px 0;
    font-size: 12pt;
    text-shadow: none;
    transform: none;
}
.proj-link .fa-github {
    font-size: 20pt;
}

/* List */

ul {
    list-style-type: none;
}

li {
    margin-left: -10px;
}
li span {
    position: relative;
    left: -10px;
}

/* Footer */

footer {
    text-align: center;
    padding: 10px 40px;
    background-color: #1C1D21;
    border-top: 1px solid;
    border-image: linear-gradient(to right, white, black) 1;
    margin-top: auto;
}
footer img {
    width: 120px;
    border-radius: .25em;
}

/* Animations */

@keyframes spin-switch {
    0% {
        transform: scale(1) rotate(-360deg);
    }
    50% {
        transform: scale(0) rotate(0deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}

@keyframes slide-in {
    0% {
      opacity: 0;
      transform: translate(0, -80px);
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slide-out {
    0% {
      opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(0, -80px);
    }
  }

  @keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

/* 

   ██╗ 
██╗╚██╗
╚═╝ ██║
██╗ ██║
╚═╝██╔╝
   ╚═╝ 

*/